imaphost: mail.%{domain}
smtphost: mail.%{domain}
smtpport: 587
smtpauth: true
ldaphost: ldap.%{domain}
ldapbase: ou=Users,%{domain}
ldapmailattr: uid
ldapdnattr: uid
banner: Username guest@theinternetco.net password Aeco3ahr
erroremail: guest@theinternetco.net
secret: blabla
