body {
	font-family: Palatino, Palladio, serif;
	background-color: #8eaed4;
	color: #020203;
	margin-left: 1in;
	margin-top: 1in;
	margin-right: 2in;
	margin-bottom: 1in;
}	
.unseen { font-weight: bold; }
a { color: #050509; }
a:visited { color: #202030; }
a:active { color: #900; }
.header p { margin: 0; padding: 0; }
.header p.subject { text-indent: 1em; }
.header p.controls { text-indent: 1em; }
p.messagepartheader { margin-bottom: 0;}
.error { color: #900 }
.message { margin-left: 2em; }
.fin { text-indent: 2in; }
.search { white-space: nowrap; }
ul.folderlist { list-style: none outside; padding: 0;}
.autocomplete { background-color: #FFF; 
	color: #573; border: 1px solid #888; }
.autocomplete ul li.selected { background-color: #ffb;}
.autocomplete ul li { height: 32px; }
